{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    ["import-rename", {
      "^xcomponent/src$": "xcomponent/dist/xcomponent",
      "^post-robot/src$": "post-robot/dist/post-robot"
    }],
    "transform-runtime",
    "transform-decorators-legacy"
  ]
}
