{
  "presets": ["babel-preset-es2015", "babel-preset-stage-0"],
  "plugins": [
    ["babel-plugin-import-rename", {
      "^xcomponent/src$": "xcomponent/dist/xcomponent",
      "^post-robot/src$": "post-robot/dist/post-robot"
    }],
    "babel-plugin-transform-runtime",
    "babel-plugin-transform-decorators-legacy"
  ]
}
